In [3]:
import pandas as pd
df = pd.read_csv('./data/sales_for_parquet.csv')
df.to_parquet('sales_pq.parquet')

In [5]:
import pandas as pd

# read
df = pd.read_parquet('./data/SalesFormats/sales_pq.parquet')

# write
#df.to_parquet('my_newfile.parquet')

df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,DEALSIZE,CUSTOMERID
0,10211,41,100,14,4708.44,1/15/04 0:00,Shipped,1,1,2004,Motorcycles,95,S10_1678,Medium,10
1,10223,37,100,1,3965.66,2/20/04 0:00,Shipped,1,2,2004,Motorcycles,95,S10_1678,Medium,11
2,10237,23,100,7,2333.12,4/5/04 0:00,Shipped,2,4,2004,Motorcycles,95,S10_1678,Small,12