In [1]:
import boto3
import pandas as pd
from io import StringIO # in-mem buffer we can use

In [2]:
# create s3 resource
s3 = boto3.resource("s3")
bucket = s3.Bucket('deutsche-boerse-xetra-pds')

In [13]:
# get list of all files on specific date - every hour of the day
bucket_obj1 = bucket.objects.filter(Prefix='2021-03-15')
bucket_obj2 = bucket.objects.filter(Prefix='2021-03-16')

# iterate over bucket object
objects = [obj for obj in bucket_obj1] + [obj for obj in bucket_obj2]

In [14]:
objects

[s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-15/2021-03-15_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='deutsche-boerse-xetra-pds', key='2021-03-16/2021-03-16_BINS_XETR23.csv')]

In [17]:
# just getting the columns from the first dataset
csv_obj_init = bucket.Object(key=objects[0].key).get().get('Body').read().decode('utf-8')
data_init = StringIO(csv_obj_init)
df_init = pd.read_csv(data_init, delimiter=',')

In [18]:
df_init.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [28]:
df_all = pd.DataFrame(columns=df_init.columns)

for obj in objects:
    csv_obj = bucket.Object(key=obj.key).get().get('Body').read().decode('utf-8')
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter=',')
    #df_all = df_all.append(df, ignore_index=True)
    df_all = pd.concat([df_all, df], ignore_index=True)

In [29]:
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG (Z.REG.MK.Z.)O.N.,Common stock,EUR,2504159,2021-03-15,08:00,22.12,22.12,22.12,22.12,1527,1
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2021-03-15,08:00,53.85,53.85,53.5,53.5,508,2
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2021-03-15,08:00,22.24,22.24,22.18,22.18,5270,4
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2021-03-15,08:00,201.5,201.5,200.6,200.6,1744,17
4,DE000A0HN5C6,DWNI,DEUTSCHE WOHNEN SE INH,Common stock,EUR,2504314,2021-03-15,08:00,38.95,39.06,38.89,39.05,28662,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206907,DE000A0WMPJ6,AIXA,AIXTRON SE NA O.N.,Common stock,EUR,2504428,2021-03-16,16:42,19.235,19.235,19.235,19.235,211,1
206908,DE0007164600,SAP,SAP SE O.N.,Common stock,EUR,2505077,2021-03-16,16:43,103.02,103.02,103.02,103.02,20,1
206909,DE0007568578,F3C,SFC ENERGY AG,Common stock,EUR,2505109,2021-03-16,16:44,24.55,24.55,24.55,24.55,130,1
206910,DE0007664005,VOW,VOLKSWAGEN AG ST O.N.,Common stock,EUR,2505113,2021-03-16,16:44,266.6,266.6,266.6,266.6,500,1
206911,DE000A0TGJ55,VAR1,VARTA AG O.N.,Common stock,EUR,2721826,2021-03-16,16:44,128.0,128.0,128.0,128.0,3,1

In [30]:
# create list of columns we want to use - dont want to use all above
columns = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume']
df_all = df_all.loc[:,columns]

In [31]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume
0,AT0000A0E9W5,2021-03-15,08:00,22.12,22.12,22.12,22.12,1527
1,DE000A0DJ6J9,2021-03-15,08:00,53.85,53.85,53.5,53.5,508
2,DE000A0D6554,2021-03-15,08:00,22.24,22.24,22.18,22.18,5270
3,DE000A0D9PT0,2021-03-15,08:00,201.5,201.5,200.6,200.6,1744
4,DE000A0HN5C6,2021-03-15,08:00,38.95,39.06,38.89,39.05,28662
...,...,...,...,...,...,...,...,...
206907,DE000A0WMPJ6,2021-03-16,16:42,19.235,19.235,19.235,19.235,211
206908,DE0007164600,2021-03-16,16:43,103.02,103.02,103.02,103.02,20
206909,DE0007568578,2021-03-16,16:44,24.55,24.55,24.55,24.55,130
206910,DE0007664005,2021-03-16,16:44,266.6,266.6,266.6,266.6,500
206911,DE000A0TGJ55,2021-03-16,16:44,128.0,128.0,128.0,128.0,3

In [32]:
# cleanup if necessary - dont want empty fields
df_all.dropna(inplace=True)

In [33]:
df_all.shape

(206912, 8)

## Get Opening Price per ISIN and day.

In [42]:
# groupby ISIN and Date - based on the StartPrice - then we transform by first 
# transform('first') --> It returns a series / dataframe with the same shape as the source group chunk, 
# in which all values in every individual column are replaced with the first non-NaN value 
# in this column, or with NaN if there is none
df_all['opening_price'] = df_all.sort_values(by=['Time']).groupby(['ISIN','Date'])['StartPrice'].transform('first')

In [36]:
df_all[df_all['ISIN'] == 'AT0000A0E9W5']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price
0,AT0000A0E9W5,2021-03-15,08:00,22.12,22.12,22.12,22.12,1527,22.12
4830,AT0000A0E9W5,2021-03-15,08:12,22.24,22.28,22.22,22.28,1914,22.12
5714,AT0000A0E9W5,2021-03-15,08:16,22.32,22.36,22.32,22.36,780,22.12
6336,AT0000A0E9W5,2021-03-15,08:19,22.32,22.32,22.3,22.3,568,22.12
6714,AT0000A0E9W5,2021-03-15,08:20,22.26,22.26,22.26,22.26,250,22.12
...,...,...,...,...,...,...,...,...,...
202503,AT0000A0E9W5,2021-03-16,16:26,22.6,22.6,22.6,22.6,1177,22.52
202789,AT0000A0E9W5,2021-03-16,16:27,22.62,22.62,22.56,22.56,1616,22.52
203058,AT0000A0E9W5,2021-03-16,16:28,22.58,22.58,22.58,22.58,15,22.52
203362,AT0000A0E9W5,2021-03-16,16:29,22.58,22.58,22.56,22.58,251,22.52
203877,AT0000A0E9W5,2021-03-16,16:35,22.56,22.56,22.56,22.56,15676,22.52

## Get Closing Price per ISIN and day

In [40]:
df_all['closing_price'] = df_all.sort_values(by=['Time']).groupby(['ISIN','Date'])['StartPrice'].transform('last')

In [41]:
df_all[df_all['ISIN'] == 'AT0000A0E9W5']

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,opening_price,closing_price
0,AT0000A0E9W5,2021-03-15,08:00,22.12,22.12,22.12,22.12,1527,22.12,22.42
4830,AT0000A0E9W5,2021-03-15,08:12,22.24,22.28,22.22,22.28,1914,22.12,22.42
5714,AT0000A0E9W5,2021-03-15,08:16,22.32,22.36,22.32,22.36,780,22.12,22.42
6336,AT0000A0E9W5,2021-03-15,08:19,22.32,22.32,22.3,22.3,568,22.12,22.42
6714,AT0000A0E9W5,2021-03-15,08:20,22.26,22.26,22.26,22.26,250,22.12,22.42
...,...,...,...,...,...,...,...,...,...,...
202503,AT0000A0E9W5,2021-03-16,16:26,22.6,22.6,22.6,22.6,1177,22.52,22.56
202789,AT0000A0E9W5,2021-03-16,16:27,22.62,22.62,22.56,22.56,1616,22.52,22.56
203058,AT0000A0E9W5,2021-03-16,16:28,22.58,22.58,22.58,22.58,15,22.52,22.56
203362,AT0000A0E9W5,2021-03-16,16:29,22.58,22.58,22.56,22.58,251,22.52,22.56
203877,AT0000A0E9W5,2021-03-16,16:35,22.56,22.56,22.56,22.56,15676,22.52,22.56

## Aggregations

In [44]:
#as_index=False, needed otherwise ISIN and Date will be the index
#min or max doesnt matter as they are the same in this case for the first 2 columns
#this is to compress/aggregate into one day as the above dataframe is over multiple time periods witihn a day
df_all = df_all.groupby(['ISIN','Date'], as_index=False).agg(opening_price_eur=('opening_price','min'), 
                                                            closing_price_eur=('closing_price','min'), 
                                                            minimum_price_eur=('MinPrice','min'),
                                                            maximum_price_eur=('MaxPrice','max'),
                                                            daily_traded_volume=('TradedVolume','sum'))

In [45]:
df_all

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume
0,AT00000FACC2,2021-03-15,9.490,9.410,9.300,9.600,2392
1,AT00000FACC2,2021-03-16,9.570,9.330,9.330,9.570,2280
2,AT0000606306,2021-03-15,18.190,18.090,18.000,18.190,905
3,AT0000606306,2021-03-16,18.000,18.100,18.000,18.160,395
4,AT0000609607,2021-03-15,15.620,15.760,15.580,15.920,644
...,...,...,...,...,...,...,...
6040,XS2265369731,2021-03-15,10.186,10.151,10.151,10.220,0
6041,XS2265369731,2021-03-16,10.249,10.249,10.249,10.249,0
6042,XS2265370234,2021-03-15,19.789,20.054,19.789,20.054,50
6043,XS2284324667,2021-03-15,26.302,26.014,25.984,26.302,0
6044,XS2284324667,2021-03-16,25.928,25.916,25.870,25.928,29009

## Percent Change Prev Closing